# IDE and system files
/.idea
/.vscode
.DS_STORE

# Dependencies
/node_modules

# Yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dist
/dist
